@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0, 0, 0;          /* #000000 */
    --color-secondary: 6, 182, 212;  /* #06B6D4 */
    --color-accent: 56, 189, 248;    /* #38BDF8 */
    --color-background: 248, 250, 252; /* #F8FAFC */
    --color-foreground: 15, 23, 42;    /* #0F172A */
  }

  .dark {
    --color-primary: 255, 255, 255;     /* #FFFFFF */
    --color-secondary: 8, 145, 178;    
    --color-accent: 14, 165, 233;      
    --color-background: 15, 23, 42;    /* #0F172A */
    --color-foreground: 248, 250, 252; /* #F8FAFC */
  }
}

:root {
  --font-display:
    Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-rounded: 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', Meiryo, 'MS PGothic', sans-serif;
  --font-serif: Georgia, 'Times New Roman', serif;
}
